<center>
    {% if list.number > 1 %}
    <strong class="change_data" admin_change="userlist" page_num={{ list.previous_page_number }}>&lt;&lt;previous
        ({{ list.previous_page_number }}) |</strong>
    {% endif %}
    <strong class="change_data" admin_change="userlist" page_num={{ list.number }}>Показать/обновить список пользователей
        ({{ list.number }}):</strong>
    {% if list.number < list.paginator.num_pages %}
    <strong class="change_data" admin_change="userlist" page_num={{ list.next_page_number }}>| next
        ({{ list.next_page_number }})&gt;&gt;</strong>
    {% endif %}
</center>
<center>(Всего {{ list.paginator.num_pages }} страниц)</center>

<table class="userlist">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>E-mail</td>
        <td>Действующий?</td>
        <td>Доступ к админке</td>
        <td>Суперпользователь</td>
        <td>Дата создания</td>
        <td>Последний вход</td>
    </tr>

    {% for item in list %}
        <tr id="item_id_{{ item.id }}">
            {% include 'admin_users/admin_box_user_info.html' %}
        </tr>
    {% endfor %}
</table>
