
<p>Сведения о пользователе:</p>
<form id="edit_user_id" method="post" action="{% url 'reguster_user' %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="change_data" value="useredit">

    {{ form1 }}

    <table>
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                    <ul>
                        {% for error in field.errors %}
                            <li class="error_registrations">Ошибка: {{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td align="center" colspan="2"><input class="change_data" admin_change="useredit" type="button" value="Редактировать"></td>
        </tr>
        <tr>
            <td align="left" colspan="2"><input class="change_data userdelete" admin_change="userdelete" del_id="{{id}}" type="button" value="Удалить пользователя"></td>
        </tr>
    </table>
</form>


{% load staticfiles %}
<script>
	var url_admin_ajax_change_view = '{% url 'admin_change_data' %}';
</script>
<script src="{% static 'administrations/static/js/admin_pages.js' %}"></script>