<form method="post" id="book_categor_list">
    {% csrf_token %}
    <p><strong class="change_data" admin_change="book_categor_stop_edit" categor_id="{{ categor.id }}">Добавить категорию:</strong></p>
    <table class="userlist">
        {% for categor in form_categor_add %}
            <tr>
                <td>{{ categor.label_tag }}
                    {% if form_categor_add.errors %}
                        <ul>
                            {% for error in form_categor_add.errors.items %}
                                <li class="error_registrations">Ошибка: {{ error.1 }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {{ categor }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type="hidden" name="change_data" value="book_categor_list">
                <input class="change_data" admin_change="book_categor_list" type="button" value="Добавить новую категорию">
            </td>
        </tr>
    </table>
</form>
<hr>

{% if categor_list|length != 0 %}
    <center>Список категорий:</center>
    <table class="userlist">
        <tr>
            {% for categor in form_categor_add %}
                <td>{{ categor.label_tag }}</td>
            {% endfor %}
        </tr>

        {% for categor in categor_list %}
            <tr  id="book_categor_id_{{ categor.id }}">
                {% include 'administrations/admin_box_books_categor_info.html' %}
            </tr>
        {% endfor %}
    </table>

{% endif %}
