<input type="checkbox" id="sign">
<div>
    <strong class="entry">
        <center>Вход в систему.</center>
        <center>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="login" size="8" placeholder="Логин">
                <br><input type="password" name="password" size="8" placeholder="Пароль">
                <br><label><input type="checkbox" name="save"><strong class="p">Запомнить меня</strong></label>
                <br><input type="submit" value="Войти">
            </form>
        </center>

    </strong><!--
    --><strong class="registr">
        <center>Регистрация</center>
        <p>Первый раз в нашем магазине? Зарегистрируйтесь и получите доступ к расширенным возможностям сайта</p>
    <center><input type="button" value="Регистрация" size="11" onclick="javascript:location.href='{% url 'register_user' %}';"></center>
    </strong>

</div>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ user }} <input type="submit" value="Разлогиниться">
    </form>
{% else %}
    <label class="sign_click" for="sign">Вход/Регистрация</label>

    {% if erros %}
        <label class="erros_login">
            <input type="checkbox">
            <p>Ошибка: такое сочетание логина и пароля не обнаружено.</p>
        </label>
    {% endif %}
{% endif %}