<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'general/favicon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'general/favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'general/favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'general/favicon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'general/favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'general/favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'general/favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'general/favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'general/favicon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'general/favicon/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'general/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'general/favicon/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'general/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'general/favicon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'general/favicon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{% static 'general/style/reset.css' %}">
	<link rel="stylesheet" href="{% static 'general/style/style.css' %}">

</head>
<body>
<div class="overfooter">
	<header>
		<table>
			<tr>
				<td rowspan="2" class="logo"><a href="{% url 'main' %}"><img title="Главная" src="{% static 'general/logo-01.png' %}"></a></td>
				<td>
					<label><a href="{% url 'main' %}">Жанры</a></label>
					<a href="{% url 'main' %}">Доставка</a>
					<a href="{% url 'main' %}">Способы оплаты</a>
				</td>
				<td class="form_reg">
					<input type="checkbox" id="sign">
					<div>
						<strong class="entry">
							<center>Вход в систему.</center>
							<center>
								<form method="post" action="{% url 'login' %}">
									{% csrf_token %}
									<input type="text" name="login" size="8" placeholder="Логин">
									<br><input type="password" name="password" size="8" placeholder="Пароль">
									<br><label><input type="checkbox" name="save"><strong class="p">Запомнить меня</strong></label>
									<br><input type="submit" value="Войти">
								</form>
							</center>

						</strong><!--
						--><strong class="registr">
							<center>Регистрация</center>
							<p>Первый раз в нашем магазине? Зарегистрируйтесь и получите доступ к расширенным возможностям сайта</p>
						<center><input type="button" value="Регистрация" size="11" onclick="javascript:location.href='{% url 'main' %}';"></center>
						</strong>

					</div>
					{% if user.is_authenticated %}
						<form action="{% url 'logout' %}">
							{% csrf_token %}
							<input type="submit" value="Разлогиниться">
						</form>
					{% else %}
						<label class="sign_click" for="sign">Вход/Регистрация</label>

						{% if erros %}
							<label class="erros_login">
								<input type="checkbox">
								<p>Ошибка: такое сочетание логина и пароля не обнаружено.</p>
							</label>
						{% endif %}
					{% endif %}

				</td>
				<td class="cargo">
					<a href="#">Корзина</a>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="search">Поиск</td>
			</tr>
		</table>






	</header>
	<article>

		Тут-то всё и будет.
		<p>Пока что тестовый пользователь: suser q12345678</p>

	</article>
</div>
<footer>
	<div class="nothing"></div><!--
	--><p>Copyright © 2016, Иван Борисович Голубых</p>
</footer>

</body>
</html>