{% extends "base.html" %}

{% block title %}{{object}}{% endblock %}
{% block content  %}
    <section class="books">
        <a href="{{ MEDIA_URL }}{{object.bimage}}" target="_blank"
           title="Посмотреть крупнее в новом окне"><img src="{{ MEDIA_URL }}{{object.bimagesmall}}"></a>
        <p><i>Категори:</i>
            {% for categor in object.bcategories.all %}
                {{categor}}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </p>
        <p><i>Автор:</i> {{object.bauthor}}</p>
        <p><i>Название:</i> {{object.bname}}</p>

        {% for categor in object_list %}
            <h2 class="head_categor_book">
                {{categor}}
            </h2>
            <div>
                {% for item in categor.books_set.all %}
                    <div>
                        <a href="{{ MEDIA_URL }}{{item.bimage}}" target="_blank"
                        title="Посмотреть крупнее в новом окне"><img src="{{ MEDIA_URL }}{{item.bimagesmall}}"></a>
                        <p><i>Автор:</i> {{item.bauthor}}</p>
                        <p><i>Название:</i> <a href="{% url 'book' item.pk %}">{{item.bname}}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </section>
{% endblock %}