{% extends "base.html" %}

{% block title %}Тестовый магазин книг.{% endblock %}
{% block content  %}
    <p>Временная ссылка на админку: <a href="{% url 'admin_main' %}" style="color: blue;">{% url 'admin_main' %}</a></p>
    <p>Пока что тестовый пользователь: suser q12345678</p>
    <p>Данный проект является чатью моего <a href="http://allworld.xyz/django/profile_ig/"><u>портфолио</u></a></p>
    <p>Раз в сутки все произведённые здесь изменения будут автоматически устранятся и сайт будет приведён к первоначальному виду, соответствующему его коду на <a href="https://github.com/ivangolubykh/2016_django_book_shop" target="_blank"><u>GitHub</u></a>.</p>
    <section class="books">
        {% for categor in object_list %}
            <h2 class="head_categor_book">
                {{categor}}
            </h2>
            <div>
                {% for item in categor.books_set.all|dictsort:"bname" %}
                    <div>
                        <a href="{{ MEDIA_URL }}{{item.bimage}}" target="_blank"
                        title="Посмотреть крупнее в новом окне"><img src="{{ MEDIA_URL }}{{item.bimagesmall}}"></a>
                        <p><i>Автор:</i> {{item.bauthor}}</p>
                        <p><i>Название:</i> <a href="{% url 'book' item.pk %}">{{item.bname}}</a></p>
                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    </section>
{% endblock %}